body
{
    margin-top: 200px;
    
    display: flex;
    
    justify-content: center;
}

input
{
    width: 850px;

    height: 70px;

    margin-left: 5px;

    border: none;

    margin-left: 10px;

    font-size: 20px;
}

button
{
    width: 1100px;

    height: 80px;

    border-radius: 50px;

    margin: 0;

    background-color: white;

    position: relative;
}

.edit-style-1
{
    position: absolute;

    left: 50px;

    top: 25px;

    margin-right: 20px;

    margin-left: 5px;
}

.edit-style-2
{
    position: absolute;

    font-size: 30px;

    top: 20px;

    right: 30px;

}

.edit-style-2:nth-child(3) 
{
    right: 90px;
}

input::placeholder 
{
    font-size: 20px;  
    
    color: gray;       
}

input:focus
{
    outline: none; 
    
    border: none;  
    
    box-shadow: none
}

i 
{
    transition: transform 0.3s ease, color 0.3s ease;
}

i:hover
{
    transform: scale(1.2);

    color: gray;

    cursor: pointer;
}