.main-container
{
    width: 600px;

    height: 350px;

    background-color: #524661;
}

.title-box
{
    width: 600px;

    height: 100px;

    background-color: #524661;

    display: flex;

    align-content: center;

    justify-content: space-between;
   
}

.divide-box
{
    width: 300px;

    height: 100px;

    padding-top: 20px;

    padding-left: 15px;
}

.mini-design
{
    margin-top: 10px;
}

input
{
    margin-top: 10px;

    height: 28px;

    width: 220px;

    border: 1px solid #757575;

    border-radius: 5px;

    background-color: #524661;
}

label
{
    color: white;

    font-weight: bold;
}

.middle-box
{
    width: 600px;

    height: 150px;

    background-color: #524661;
}

.box-style
{
    width: 550px;

    padding-top: 20px;

    padding-left: 15px;
}

textarea
{
    border-radius: 5px;

    background-color: #524661;
}

button
{
    color: rgb(0, 0, 0);

    background-color: #ffffff;

    padding: 15px;

    font-size: 16px;

    border-radius: 5px;

    margin: 20px 0 0 15px;

    width: 200px;
}